@import 'https://fonts.googleapis.com/css?family=Bree+Serif|Roboto+Condensed';


body {
	background: #25C1FF;
	font-family: Arial, sans-serif;
	font-size:20px;
	text-align: center;
}

h1{
	font-weight:bold;
	font-size:40px;
	color: #141C8A;
	text-align: center;
	font-family: 'Bree Serif', serif;
}

h2{
	font-weight:bold;
	font-size:30px;
	color: #fff;
	text-align: center;
	font-family: 'Bree Serif', serif;
}

p {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
}

hr {
	width: 750px;
	color: #141C8A;
}
#slogan {
	font-style: italic;
	font-family: 'Bree Serif', serif;
}
#left {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 20%;
}

#middleleft {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;	
	float: left;
	width: 20%;
}

#middleright {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 20%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;	
	float: left;
	width: 20%;
}

#one {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.features {
	color: #141C8A;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #FFED74;
	border:1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border:1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border:1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border:1px black solid;
	padding: 20px;
}

section  {
	background-color: #FFE2B8;
	border:1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border:1px black solid;
	padding: 20px;
}


